{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}项目管理{% endblock %}

{% block css %}
<link href="{% static "css/INDEX_index/bootstrap.min.css" %}" rel="stylesheet">

<!-- Libraries CSS Files -->

<link href="{% static "css/INDEX_index/style.css" %}" rel="stylesheet">

<link href="{% static "css/INDEX_index/ionicons.min.css" %}" rel="stylesheet">
<style>
#header {
    height: 92px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
  
#header #logo {
    float: left;
}
  
#header #logo img{
    width: 40px;
}
  
#header #logo h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    float: right;
    color: black;
} 

.tableContainer{
    text-align: center;
    display: table;
    border-spacing: 5%;
    width: 100%;
}
.tableRow{
    text-align: center;
    display: table-row;
}
.tableCell{
    display:table-cell;
    width: 50%;
    vertical-align: top;
}

.tableCell img{
    margin: 10px;
}

#chartContainer1, #chartContainer2, #chartContainer3 {
    height: 300px;
    width: 100%;
}

#robot{
    text-align: left;
    padding-left: 10%;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 3px;
    font-weight: 500;
}

#intro{
    text-align: center;
    height: 0;
}
</style>
{% endblock %}

{% block content %}

<header id="header">
    <div>
        <div id="logo">
            <h1>机器人焊接智能化实验室</h1>
            <img src="{%static 'images/INDEX_index/sjtu.jpeg'%}">
        </div>
    </div>
</header>

<div class="tableContainer">
    <div class="tableRow">
        <div class="tableCell">
            <img id='monitorpic' src=''>
            <img id='weldpoolPic' src=''>
        </div>
        <div class="tableCell">
            <div id="chartContainer1"></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
            <div id="chartContainer2"></div>  
        </div>
        <div class="tableCell">
            <div id="chartContainer3"></div>          
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
            <p id="robot"></p>
        </div>
        <div class="tableCell">
            
        </div>
    </div>
</div>



<section id="intro">
    <a href="{% url 'Project_Management:welding_task' %}" class="btn-get-started scrollto">返回</a>
</section>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/qwebchannel.js' %}"></script>
    <script>
    window.onload = function () {
        $(document).ready(function () {

            var dps1 = [];
            var dps2 = [];
            var dps3 = [];

            var chart1 = new CanvasJS.Chart("chartContainer1", {
                title: {
                    text: "Current"
                },
                axisX: {
                    title: "Time",
                },
                axisY: {
                    title: "Current",
                },
                data: [{
                    type: "line",
                    dataPoints: dps1,
                }]
            });
            var chart2 = new CanvasJS.Chart("chartContainer2", {
                title: {
                    text: "Voltage"
                },
                axisX: {
                    title: "Time"
                },
                axisY: {
                    title: "Voltage"
                },
                data: [{
                    type: "line",
                    dataPoints: dps2,
                }]
            });
            var chart3 = new CanvasJS.Chart("chartContainer3", {
                title: {
                    text: "Sound"
                },
                axisX: {
                    title: "Time"
                },
                axisY: {
                    title: "Sound"
                },
                data: [{
                    type: "line",
                    dataPoints: dps3,
                }]
            });

            chart1.render();
            chart2.render();
            chart3.render();
            var xVal1 = 0;
            var yVal1 = 0;
            var xVal2 = 0;
            var yVal2 = 0;
            var xVal3 = 0;
            var yVal3 = 0;
            function refresh1(jdata){
                var tmpdata;
                tmpdata = jdata['current'];
                for (var i = 0; i < 200; ++i) {
                    xVal1 += 0.0025;
                    yVal1 = parseFloat(tmpdata[i]);
                    dps1.push({ x: xVal1, y: yVal1 });
                    }
                if (dps1.length > 1000) {
                    for (var i = 0; i < 200; ++i) {
                        dps1.shift();
                        }
                    }
                chart1.render();
            }
            function refresh2(jdata){
                var tmpdata;
                tmpdata = jdata['voltage'];
                for (var i = 0; i < 200; ++i) {
                    xVal2 += 0.0025;
                    yVal2 = parseFloat(tmpdata[i]);
                    dps2.push({ x: xVal1, y: yVal1 });
                    }
                if (dps2.length > 1000) {
                    for (var i = 0; i < 200; ++i) {
                        dps2.shift();
                        }
                    }
                chart2.render();
            }
            function refresh3(jdata){
                var tmpdata;
                tmpdata = jdata['sound'];
                for (var i = 0; i < 200; ++i) {
                    xVal3 += 0.0025;
                    yVal3 = parseFloat(tmpdata[i]);
                    dps3.push({ x: xVal1, y: yVal1 });
                    }
                if (dps3.length > 1000) {
                    for (var i = 0; i < 200; ++i) {
                        dps3.shift();
                        }
                    }
                chart3.render();
            }
            function refresh4(jdata){
                var tmpdata;
                tmpdata = jdata['robot'];
                document.getElementById('robot').innerHTML = tmpdata;
            }
            function refresh5(jdata){
                document.getElementById('monitorpic').src = "data:image/jpg;base64," + jdata['monitorpic'];
            }
            function refresh6(jdata){
                document.getElementById('weldpoolPic').src = "data:image/jpg;base64," + jdata['weldpoolPic'];
            }
            var baseUrl = "ws://192.168.199.104:12345";
            var Socket = new WebSocket(baseUrl);
            socket.onopen = function() {
                new QWebChannel(socket, function(channel) {
                    // make core object accessible globally
                    window.core = channel.objects.core;
                    //连接C++信号与javascript函数
                    core.sendText.connect(function(message) {
                        var flag = parseInt(JSON.parse(message.data)['flag']);
                        if (flag == 1){
                            refresh1(JSON.parse(message.data));
                        }
                        if (flag == 2){
                            refresh2(JSON.parse(message.data));
                        }
                        if (flag == 3){
                            refresh3(JSON.parse(message.data));
                        }
                        if (flag == 4){
                            refresh4(JSON.parse(message.data));
                        }
                        if (flag == 5){
                            refresh5(JSON.parse(message.data));
                        }
                        if (flag == 6){
                            refresh6(JSON.parse(message.data));
                        }
                    });

                    core.receiveText("Client connected, ready to send/receive messages!");
                });
            }
        });
    } 

    </script>
{% endblock %}